<tr>
  <td class="centrar">
    <%= factura.id %>
  </td>
  <td>
    <%= factura.client.nombre_completo %>
  </td>
  <td>
    <%= factura.client.correo_cli %>
  </td>
  <td>
    <%= factura.created_at %>
  </td>

  <td class="botones">
    <%= link_to factura_url(factura.id) do %>
       <button class="ver">Ver</button>
    <% end %>
  
    <%= button_to factura_path(factura), method: :delete, class: "btn_borrar" do%>
      <button class="eliminar">Eliminar</button>
    <% end %>
  </td>
</tr>