<tr>
  <td data-label="N° Factura" class="centrar red">
    <%= factura.fref %>
  </td>
  <td data-label="Nombre" class="centrar red">
    <%= factura.client.nombre_completo %>
  </td>
  <td data-label="Correo" class="centrar red">
    <%= factura.client.correo_cli %>
  </td>
  <td data-label="Fecha" class="centrar red">
    <%= factura.created_at %>
  </td>

  <td data-label="Accion" class="botones red">
    <%= link_to factura_url(factura.id) do %>
       <button class="ver">Ver</button>
    <% end %>
  
    <%= button_to "Eliminar",  factura_path(factura), method: :delete, class: "btn_borrar, eliminar", onclick: "return confirmDestroy('¿Deseas eliminar esta factura?')" %>
    <%= button_to "PDF" ,factura_url(factura.id, :format => :pdf), class:"btn_pdf", method: :get %>
    
  </td>
</tr>

<script>
  function confirmDestroy(message) {
    if(!confirm(message)){
      return false
    }
  }
</script>