<tr>
  <td data-label="N° Factura" class="centrar red">
    <%= factura.id %>
  </td>
  <td data-label="Nombre" class="centrar red">
    <%= factura.client.nombre_completo %>
  </td>
  <td data-label="Correo" class="centrar red">
    <%= factura.client.correo_cli %>
  </td>
  <td data-label="Fecha" class="centrar red">
    <%= factura.created_at %>
  </td>

  <td data-label="Accion" class="botones red">
    <%= link_to factura_url(factura.id) do %>
       <button class="ver">Ver</button>
    <% end %>
  
    <%= button_to factura_path(factura), method: :delete, class: "btn_borrar" do%>
      <button class="eliminar">Eliminar</button>
    <% end %>
  </td>
</tr>