<tr>
  <td class="centrar">
    <%= link_to factura.id, factura_url(factura.id) %>
  </td>
  <td>
    <%= factura.client.nombre_completo %>
  </td>
  <td>
    <%= factura.client.correo_cli %>
  </td>
  <td>
    <%= factura.created_at %>
  </td>

  <td class="centrar">
    <%= button_to factura_path(factura), method: :delete do%>
      <%= image_tag("iconos/borrar", class:"icon_accion") %>
    <% end %>
  </td>
</tr>