<%= simple_form_for @factura do |f| %>
  <main class="clientesNew sombra" >
    <section class="botonVolverNew"><%= link_to "Volver", facturas_url, class: "volverNew" %></section>
    <h1>Registrar Factura</h1>

    <section class="informacionNewConf">
      <div>
        <%= f.label :fref, "Ref. factura",class: 'is-required'  %>
        <%= f.input_field :fref, class: 'input_clientes'%>
      
      </div>
          <% if @factura.errors[:fref].any? %>
            <p class="text-danger"><%= @factura.errors[:fref].first %></p>
          <% end %>
      <div class="errorShow">
        <%= f.label :client, "Cliente", class: 'is-required' %>
        <%= f.association :client, label_html: { hidden: true }, label_method: :nombre_completo, error: "Seleccionar" %>
      </div>

      <div class="fechaFacturaNew">
        <%= f.label :fechafin, "Fecha de entrega"%>
        <%= f.input_field :fechafin%>
      </div>
    </section>

    <section class="botonesNew">
      <%= f.button :submit, "Crear Factura", class:"crearClientes" %>
    </section>   
  </main>
<% end %>