<div class="container_facturas">
  <section class = "botonEliminarShow">
    <%= button_to "Eliminar factura",  @factura, method: :delete, class: "btn_borrar, eliminar_fac", onclick: "return confirmDestroy('¿Deseas eliminar esta factura?')" %>
  </section>

  <div class="volver_facturas">
    <button class="btn_back">
      <%= link_to "Volver" , facturas_url %>
    </button>
  </div>

  <div class="facturas_grid">
    <div class="facturas_cliente sombra">
      <h2 id="titulo_factura">Datos Cliente</h2>
      <b>Id: </b>
      <%= @factura.fref %>
      <br>
      <b>Nombre: </b>
      <%= @factura.client.nombre_completo %>
      <br>
      <b>Correo: </b>
      <%= @factura.client.correo_cli %>
      <br>
      <b>Dirección: </b>
      <%= @factura.client.cli_envio%>
    </div>

      <div class="formulario_facturas_productos sombra selectFacturas">
        <h2 id="titulo_factura">Datos Producto</h2>
        <%= simple_form_for [@factura, @detalle] do |f| %>
            <%= f.association :producto, label_method: :buscar_producto, label: "Nombre del producto: " %>
            <%= f.label :cantidad, "Cantidad:", label: "Cantidad:", class: "inputCantidad" %>
            <%= f.input_field :cantidad, class: "inputCantidad" %>
                <% if @detalle.errors[:cantidad].any? %>
                  <span class="text-danger"><%= @detalle.errors[:cantidad].first %></span>
                  <br>
                <% end %>
                <div>
                
                  <%= f.label :extra, "detalles extras:", label: "detalles:"%>
                  <%= f.input_field :extra, class: 'input_clientes' %>
                </div>
            <%= f.association :colors,as: :check_boxes, label_method: :tipo, label: "Colores: ", class: "colorSelect" %>
          
            <%= f.button :submit, "Añadir", class: "factura_nuevo" %>
            
        <% end %>
      </div>
  </div>

    <div class="formulario_facturas_facturas sombra productosTable">
      <section class = "botonEliminarShow">
        <%= link_to "Imprimir PDF" ,factura_url(@factura, :format => :pdf) %>
   
      </section>
      <h2 id="titulo_factura">Factura del Cliente</h2>
      <table>
          <thead>
              <tr>
                  <th> Fecha de entrega</th>
                  <td colspan="7"><%= @factura.fechafin %></td>
              </tr>
              <tr>
                  <th>Ref</th>
                  <th>Producto</th>
                  <th>Precio uni.</th>
                  <th>Color</th>
                  <th>detalles</th>
                  <th>Cantidad</th>
                  <th>Precio total</th>
                  <th>Acción</th>
              </tr>        
          </thead>    
          <tbody>

          <% @detalles.each do |detalle| %>

              <tr>
                  <td><%= detalle.producto.referencia_pro %></td>
                  <td><%= detalle.producto.nombre_pro %></td>
                  <td><%= number_to_currency detalle.precio%></td>
                  <td >
                      <% detalle.colors.each do |d| %>
                          <%= d.tipo%>
                      <%end%>
                  </td> 
                  <td><%= detalle.extra %></td>
                  <td><%= detalle.cantidad %></td>
                  <td><%= number_to_currency detalle.valor %></td>
                  <td><%= button_to "Eliminar", factura_detalle_path(@factura, detalle), method: :delete, class: "btn_borrar, eliminar" %></td>
              </tr>
          <% end %>
          <tr>
              <th >Precio subtotal: </th>
              <td colspan="7"><%=number_to_currency @factura.final %></td>   
          </tr>
              <tr>
              <th >Impuesto por iva: </th>
              <td colspan="7"><%=number_to_currency @factura.iva %></td>   
          </tr>
              <tr>
              <th >Precio final: </th>
              <td colspan="7"><%=number_to_currency @factura.final_total %></td>   
          </tr>


          </tbody>
      </table>
    </div>
</div>

<script>
  function confirmDestroy(message) {
    if(!confirm(message)){
      return false
    }
  }
</script>
