

<%= @factura.id %>
<br>
<%= @factura.client.nombre_completo %>
<br>
<%= @factura.client.correo_cli %>
<br>
<%= @factura.client.direccion_cli%>

<%= simple_form_for [@factura, @detalle] do |f| %>
    <%= f.association :producto, label_method: :nombre_pro, label: "nombre del producto: " %>
    <%= f.input :cantidad, label: "cantidad: "%>
    <%= f.association :colors,as: :check_boxes, label_method: :tipo, label: "colores: " %>
    <%= f.button :submit %>
    

<% end %>

<table>
    <thead>
        <tr>
            <th>Ref</th>
            <th>Producto</th>
            <th>Precio uni.</th>
            <th>cantidad</th>
            <th>Precio total</th>
        </tr>        
    </thead>    
    <tbody>
    <% @detalles.each do |detalle| %>
        <tr>
            <td><%= detalle.producto.referencia_pro %></td>
            <td><%= detalle.producto.nombre_pro %></td>
            <td><%= number_to_currency detalle.producto.precio_pro%></td>
            <td><%= detalle.cantidad %></td>
            <td><%= number_to_currency detalle.total %></td>
            <td><%= link_to 'Eliminar', factura_detalle_url(@factura, detalle),
          data: {
            "turbo-method": :delete,
            
          } %></td>
        </tr>
    <% end %>
    <tr>
        <th >precio final: </th>
        <td colspan="4"><%=number_to_currency @factura.final %></td>   
    </tr>

    </tbody>
</table>

<%= link_to "volver" , facturas_url %>