<tr>
    <td data-label="Cedula" class="centrar seaWater">
        <%= artesano.id %>
    </td>

    <td data-label="Primer Nombre" class="centrar seaWater">
        <%= artesano.nombre %>
    </td>

    <td data-label="Primer Apellido" class="centrar seaWater">
        <%= artesano.apellido %>
    </td>


    <td data-label="Accion" class="botones seaWater">
       <%= link_to artesano_url(artesano) do %>
        <button class="ver">Ver</button>
        <% end %>

      <%= link_to edit_artesano_url(artesano) do %>
        <button class="editar">Editar</button>
      <% end %>
      <%= button_to "Eliminar",artesano_path(artesano), method: :delete, class: "btn_borrar, eliminar", onclick: "return confirmDestroy('¿Deseas eliminar este artesano?')" %>

    
    </td>
</tr>

<script>
  function confirmDestroy(message) {
    if(!confirm(message)){
      return false
    }
  }
</script>

