<%= simple_form_for @artesano do |f| %>
<main class = "artesanosNew sombra">

    <section class="botonVolverNew"><%= link_to "Volver", artesanos_url, class: "volverNew" %></section>
    <h1>Registrar Artesano</h1>

    <section class="informacionNew">
        <div>
            <%= f.label :id, "Cedula ", class:"input_artesano" %>
            <%= f.input_field :id, class: 'input_artesano' , class:"label_artesano1" %>
            <% if @artesano.errors[:id].any? %>
                <p class="text-danger"><%= @artesano.errors[:id].first %></p>
            <% end %>
        </div>
    </section>
      
    <section class="informacionNew">
        <div>
            <%= f.label :id, "Nombre ", class:"input_artesano" %>
            <%= f.input_field :nombre, class: 'input_artesano' , class:"label_artesano2" %>
            <% if @artesano.errors[:nombre].any? %>
                <p class="text-danger"><%= @artesano.errors[:nombre].first %></p>
            <% end %>
        </div>
    </section>
          
    <section class="informacionNew">
        <div>
            <%= f.label :id, "Segundo Nombre ", class:"input_artesano" %>
            <%= f.input_field :snombre,class: 'input_artesano' , class:"label_artesano3" %>
            <% if @artesano.errors[:snombre].any? %>
                <p class="text-danger"><%= @artesano.errors[:snombre].first %></p>
            <% end %>
        </div>
    </section>

    <section class="informacionNew">
        <div>
            <%= f.label :id, "Apellido ", class:"input_artesano" %>
            <%= f.input_field :apellido, class: 'input_artesano' , class:"label_artesano2" %>
            <% if @artesano.errors[:apellido].any? %>
                <p class="text-danger"><%= @artesano.errors[:apellido].first %></p>
            <% end %>
        </div>
    </section>


    <section class="informacionNew">
        <div>
            <%= f.label :id, "Segundo Apellido ", class:"input_artesano" %>
            <%= f.input_field :sapellido, class: 'input_artesano' , class:"label_artesano3" %>
            <% if @artesano.errors[:sapellido].any? %>
                <p class="text-danger"><%= @artesano.errors[:sapellido].first %></p>
            <% end %>
        </div>
    </section>

    <section class="informacionNew">
        <div>
            <%= f.label :id, "Telefono ", class:"input_artesano" %>
            <%= f.input_field :tel, class: 'input_artesano', class:"label_artesano2" %>
            <% if @artesano.errors[:tel].any? %>
                <p class="text-danger"><%= @artesano.errors[:tel].first %></p>
            <% end %>
        </div>
    </section>
        
     <section class="botonesNew">
        <%= f.button :submit,"Crear", class:"crearArtesanos"%>
    </section>    
</main>
<% end %>