<div>
<h1>Nuevo Artesano</h1>
<%= simple_form_for @artesano do |f| %>
    <%= f.input :id, label:"cedula"%>
    <%= f.input :nombre %>
    <%= f.input :snombre %>
    <%= f.input :apellido %>
    <%= f.input :sapellido %>
    <%= f.input :tel %>
    <%= f.button :submit %>

<% end %>
</div>