<div>
    <h1 class="artesano_text">Nuevo Artesano</h1>
    <div class="formulario_artesano">
        <%= simple_form_for @artesano do |f| %> <br>
            <%= f.label :id, "Cedula :   ", class:"input_artesano" %>
            <%= f.input_field :id, class: 'input_artesano' , class:"label_artesano1" %> <br><br>
             <%= f.label :id, "Nombre : ", class:"input_artesano" %>
            <%= f.input_field :nombre, class: 'input_artesano' , class:"label_artesano2" %> <br><br>
             <%= f.label :id, "Segundo Nombre :   ", class:"input_artesano" %>
            <%= f.input_field :snombre,class: 'input_artesano' , class:"label_artesano3" %> <br><br>
             <%= f.label :id, "Apellido :   ", class:"input_artesano" %>
            <%= f.input_field :apellido, class: 'input_artesano' , class:"label_artesano2" %> <br><br>
             <%= f.label :id, "Segundo Apellido :   ", class:"input_artesano" %>
            <%= f.input_field :sapellido, class: 'input_artesano' , class:"label_artesano3" %> <br><br> 
             <%= f.label :id, "Telefono :   ", class:"input_artesano" %>
            <%= f.input_field :tel, class: 'input_artesano', class:"label_artesano2" %> <br><br>
            <%= f.button :submit, "Crear", class:"artesano_boton" %> 
        <% end %>
    </div>
</div>