<%= simple_form_for @artesano do |f| %> <br>
<main class = "artesanosNew sombra">

    <section class="botonVolverNew"><%= link_to "Volver", artesanos_url, class: "volverNew" %></section>
    <h1>Editar Artesano</h1>

    <section class="informacionNew">
        <div>
            <%= f.label :id, "Cedula "%>
            <%= f.input_field :id, :disabled => true%>
            <% if @artesano.errors[:id].any? %>
                <p class="text-danger"><%= @artesano.errors[:id].first %></p>
            <% end %>
        </div>
    </section>
      
    <section class="informacionNew">
        <div>
            <%= f.label :id, "Nombre " %>
            <%= f.input_field :nombre %>
            <% if @artesano.errors[:nombre].any? %>
                <p class="text-danger"><%= @artesano.errors[:nombre].first %></p>
            <% end %>
        </div>
    </section>
          
    <section class="informacionNew">
        <div>
            <%= f.label :id, "Segundo Nombre "%>
            <%= f.input_field :snombre %>
        </div>
    </section>

    <section class="informacionNew">
        <div>
            <%= f.label :id, "Apellido "%>
            <%= f.input_field :apellido %>
            <% if @artesano.errors[:apellido].any? %>
                <p class="text-danger"><%= @artesano.errors[:apellido].first %></p>
            <% end %>
        </div>
    </section>


    <section class="informacionNew">
        <div>
            <%= f.label :id, "Segundo Apellido "%>
            <%= f.input_field :sapellido%>
        </div>
    </section>

    <section class="informacionNew">
        <div>
            <%= f.label :id, "Telefono " %>
            <%= f.input_field :tel %>
        </div>
    </section>
        
     <section class="botonesNew">
        <%= f.button :submit,"Actualizar", class:"crearArtesanos"%>
    </section>    
</main>
<% end %>