<%
=begin%>
 <section class="artesanosTable">
        <table>
            <thead>
                    <tr>
                    <th>Cedula</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Telefono</th>
                    </tr>
            </thead>
            <tbody>
               <tr>
                    <td data-label="Cedula" class="centrar">
                        <%= link_to @artesano.id %>
                    </td>

                    <td data-label="Primer Nombre">
                      
                    </td>

                    <td data-label="Segundo Nombre">
                       
                    </td>
                    
                    <td data-label="Primer Apellido">
                        
                    </td>

                    <td data-label="Segundo Apellido">
                   
                    </td>

                    <td data-label="Telefono" class="centrar">
                       
                    </td>
                </tr>
            </tbody>
        </table>
    </section> 
<%
=end%>



<main class="artesanosShow sombra">

     <h1>Información Artesano</h1>


     <section class= "informacionClientes">
        <div>
             <label>Cedula</label>
             <input type="text" value="<%= @artesano.id %>" name="cantidad" id="cantidad" disabled=»disabled» />
        </div>
        <div>
             <label>Telefono</label>
             <input type="text" value="<%= @artesano.tel%>" name="cantidad" id="cantidad" disabled=»disabled» />
        </div>
        
    </section>

    <section class= "informacionClientes">
        <div>
             <label>Primer Nombre</label>
             <input type="text" value="<%= @artesano.nombre %>" name="cantidad" id="cantidad" disabled=»disabled» />
        </div>
        <div>
             <label>Segundo Nombre</label>
             <input type="text" value="<%= @artesano.snombre %>" name="cantidad" id="cantidad" disabled=»disabled» />
        </div>
    </section>

    <section class= "informacionClientes">
        <div>
             <label>Primer Apellido</label>
             <input type="text" value="<%= @artesano.apellido %>" name="cantidad" id="cantidad" disabled=»disabled» />
        </div>
         <div>
             <label>Segundo Apellido</label>
             <input type="text" value="<%= @artesano.sapellido %>" name="cantidad" id="cantidad" disabled=»disabled» />
        </div>
    </section>

    <section class="botonVolver"><%= link_to "Volver", artesanos_url, class: "volver" %></section>

</main>
    