



<main class="artesanosShow sombra">

     <section class = "botonEliminarShow">
          <%= button_to "Eliminar",@artesano, method: :delete, class: "btn_borrar, eliminar", onclick: "return confirmDestroy('¿Deseas eliminar este registro?')" %>
     </section>

     <h1>Información Artesano</h1>


     <section class= "informacionClientes">
        <div>
             <label>Cedula</label>
             <input type="text" value="<%= @artesano.id %>" name="cantidad" id="cantidad" disabled=»disabled» />
        </div>
        <div>
             <label>Telefono</label>
             <input type="text" value="<%= @artesano.tel%>" name="cantidad" id="cantidad" disabled=»disabled» />
        </div>
        
    </section>

    <section class= "informacionClientes">
        <div>
             <label>Primer Nombre</label>
             <input type="text" value="<%= @artesano.nombre %>" name="cantidad" id="cantidad" disabled=»disabled» />
        </div>
        <div>
             <label>Segundo Nombre</label>
             <input type="text" value="<%= @artesano.snombre %>" name="cantidad" id="cantidad" disabled=»disabled» />
        </div>
    </section>

    <section class= "informacionClientes">
        <div>
             <label>Primer Apellido</label>
             <input type="text" value="<%= @artesano.apellido %>" name="cantidad" id="cantidad" disabled=»disabled» />
        </div>
         <div>
             <label>Segundo Apellido</label>
             <input type="text" value="<%= @artesano.sapellido %>" name="cantidad" id="cantidad" disabled=»disabled» />
        </div>
    </section>

    <section class="botonVolver"><%= link_to "Volver", artesanos_url, class: "volver" %></section>

</main>
<script>
  function confirmDestroy(message) {
    if(!confirm(message)){
      return false
    }
  }
</script>
