

<%= simple_form_for @category do |f| %>
<main class="clientesNewCat sombra div_conf"> 

    <section class="botonVolverNew"><%= link_to "Volver", categories_url, class: "volverNew" %></section>
    <h1>Registrar Categoria</h1>

    <section class="informacionNewConf "> 
        <div>
            <%= f.label :tipo_categoria, 'Escriba la categoria', required: true %> 
            <%= f.input_field :tipo_categoria%> 
            <% if @category.errors[:tipo_categoria].any? %>
                <p class="text-danger"><%= @category.errors[:tipo_categoria].first %></p>
            <% end %>
        </div>
  
    </section>

     <section class="botonesNew">
        <%= f.button :submit,"Crear", class:"crearClientes"%>
    </section>    


</main>
<% end %>

  
