
<tr>
    <td>
        <%= link_to  client.nombre_cli %>
    </td>
    <td>
        <%= link_to  client.nombre2_cli %>
    </td>
    <td>
        <%= link_to  client.apellido_cli %>
    </td>
    <td>
        <%= link_to  client.apellido2_cli %>
    </td>
    <td id="o">
        <%= link_to  client.tel_cli%>
    </td id="aw">
    <td>
        <%= link_to  client.correo_cli %>
    </td>    
</tr>