<tr>
  <td>
    <%= client.cedula_cli %>
  </td>
  <td>
    <%= client.nombre_cli %>
  </td>
  <td>
    <%= client.nombre2_cli %>
  </td>
  <td>
    <%= client.apellido_cli %>
  </td>
  <td>
    <%= client.apellido2_cli %>
  </td>
  <td id="o">
    <%= client.tel_cli%>
  </td id="aw">
  <td>
    <%= client.correo_cli %>
  </td>
  <td>
    <%= client.direccion_cli %>
  </td>  
  <td>
    <%= link_to 'Ver', edit_client_url(client) %>
  </td>
  <td>
    <%= link_to 'editar', edit_client_url(client) %>
  </td>
  <td>
  <%= button_to ,'Eliminar'client_path(client), method: :delete onclick="returm confirmDelete("estas seguro")"%>
  </td>   
</tr>