<%= simple_form_for @client do |f| %> 
  <main class="clientesNew sombra">
    <section class="botonVolverNew"><%= link_to "Volver", clients_url, class: "volverNew" %></section>
    <h1>Editar Cliente</h1>


    <section class="informacionNew">
      <div>
        <%= f.label :id, "Cedula"%>
        <%= f.input_field :id, :disabled => true, class: "idBloquear" %>
        <% if @client.errors[:id].any? %>
          <p class="text-danger"><%= @client.errors[:id].first %></p>
        <% end %>
      </div>

        <div>
          <%= f.label :nombre_cli,"Nombre "%>
          <%= f.input_field :nombre_cli %>
          <% if @client.errors[:nombre_cli].any? %>
            <p class="text-danger"><%= @client.errors[:nombre_cli].first %></p>
          <% end %>
        </div>

      <div>      
        <%= f.label :nombre2_cli,"Segundo Nombre "%>
        <%= f.input_field :nombre2_cli %>
      </div>

      <div>      
        <%= f.label :apellido_cli,"Apellido " %> 
        <%= f.input_field :apellido_cli%>
        <% if @client.errors[:apellido_cli].any? %>
          <p class="text-danger"><%= @client.errors[:apellido_cli].first %></p>
        <% end %>
      </div>

      <div>      
        <%= f.label :apellido2_cli,"Segundo Apellido "%> 
        <%= f.input_field :apellido2_cli%>
      </div>

      <div>      
        <%= f.label :tel_cli,"Télefono " %> 
        <%= f.input_field :tel_cli%>
        <% if @client.errors[:tel_cli].any? %>
          <p class="text-danger"><%= @client.errors[:tel_cli].first %></p>
        <% end %>
      </div>

      <div>      
        <%= f.label :correo_cli,"Correo Eléctronico "%> 
        <%= f.input_field :correo_cli%>
        <% if @client.errors[:correo_cli].any? %>
          <p class="text-danger"><%= @client.errors[:correo_cli].first %></p>
        <% end %>
      </div>

      <div>      
        <%= f.label :direccion_cli,"Dirección "%>
        <%= f.input_field :direccion_cli%>
        <% if @client.errors[:direccion_cli].any? %>
          <p class="text-danger"><%= @client.errors[:direccion_cli].first%> </p>
        <% end %>
      </div>
    </section>

    <section class="botonesNew">
      <%= f.button :submit,"Actualizar", class:"crearClientes"%>
    </section>    
  </main>
<% end %>