<main class="container sombra">
    <section class="productos">
        <div class="box">
            <%= form_tag clients_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Buscar", :id => nil  %>
            </p>
          <% end %>
        </div>
        <h1 class="clientes__titulo">Clientes</h1>
        <div class="clientes__nuevo">
            <%= link_to "clients/new" do %>
            <p>Nuevo</p>
            <% end %>
        </div>
    </section>

    <section class="clientesTable">
        <table>
            <thead>
                <tr>
                <th>Cedula</th>
                <th>Primer Nombre</th>
                
                <th>Primer Apellido</th>
                
         
                
               
                <th colspan="3">Acción</th>
                </tr>
            </thead>
            <tbody>
                <%= render @clients%>
            </tbody>
        </table>
    </section>


    <div class="digg_pagination">
        <%= will_paginate(@productos,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %>
      </div>

</main>