    <section class="clientesTable">
        <table>
            <thead>
                    <tr>
                    <th>Cedula</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Direccion</th>
                    </tr>
            </thead>
            <tbody>
               <tr>
                    <td data-label="Cedula" class="centrar">
                        <%= @client.id %>
                    </td>
                    <td data-label="Primer Nombre">
                        <%= @client.nombre_cli %>
                    </td>
                     <td data-label="Segundo Nombre">
                        <%= @client.nombre2_cli %>
                    </td>
                    <td data-label="Primer Apellido">
                        <%= @client.apellido_cli %>
                    </td>
                    <td data-label="Segundo Apellido">
                        <%= @client.apellido2_cli %>
                    </td>
                    <td data-label="Telefono">
                        <%= @client.tel_cli %>
                    </td>
                    <td data-label="Correo">
                        <%= @client.correo_cli %>
                    </td>
                    <td data-label="Direccion">
                        <%= @client.direccion_cli %>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>



   