<!DOCTYPE html>
<html>
  <head>
    <title>SISMU</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "clientes", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "artesano", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "empresa", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "empre_factura", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "reload" %>
  </head>

  <body>


    <%# NAV %>
    <nav>
      <section>
        <%= link_to image_tag( "logo_lateral_sandra_munoz", class: "logo"), root_path %>
      </section>
      <section>
        <span id="sismu__central"><span>SISMU <i>Artesanías</i></span> </span>
      </section>
      <section class="section_login">
      <%# <select id="country" name="country">
        <option value="australia"><%= image_tag(current_user.avatar_thumbnail, class:"img_perfil") Imagen</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select> %>
        
        <div id="header_select">
          <ul class="ul_select">
            <li class="li_select"> <%= image_tag(current_user.avatar_thumbnail, class:"img_perfil") %>
              <ul>
                <li><%= link_to "edit", edit_user_registration_path %></li>
                <li>
                  <!-- <section class="btn__salir"> -->
                  <%= link_to "Salir", destroy_user_session_path, :method => :delete, class: "salir" %>
                  <!-- <%= image_tag "iconos/sign_out", class: "minilogo_pequeño salir" %> -->
                  <!-- </section> -->
                </li>
              </ul> 
          </ul>
        </div> 
      </section>
    </nav>
    
    <div class="centrar">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>


    <%# BARRA LATERAL %>
    <div id="sidemenu" class="menu_collapsed">
      <%# CABECERA_MENU %>
      <div id="header_menu">
        <div id="title_menu"><div>SISMU</div></div>
        <div id="menu_btn">
          <div class="btn_hamburguesa"></div>
          <div class="btn_hamburguesa"></div>
          <div class="btn_hamburguesa"></div>
        </div>
      </div>
      <%# ITEMS_MENU %>
      <div id="menu_items">
        <div class="item_menu" title="Inicio">
          <%= link_to root_path do %>
            <%= image_tag("iconos/home_blanco", class: "icon_menu" ) %>
            <div class="title_icon_menu"><span>Inicio</span></div>
          <% end %>
        </div>

        <div class="item_menu" title="Productos">
          <%= link_to productos_url do %>
            <%= image_tag("iconos/lista_blanca", class: "icon_menu" ) %>
            <div class="title_icon_menu"><span>Productos</span></div>
          <% end %>
        </div>

        <div class="item_menu" title="Artesanos">
          <%= link_to artesanos_url do %>
            <%= image_tag("iconos/manos", class: "icon_menu") %>
            <div class="title_icon_menu"><span>Artesanos</span></div>
          <% end %>
        </div>

        <div class="nav_select">
          <div class="item_menu" title="Clientes">
            <%= link_to clients_url do %>
              <%= image_tag("iconos/usuarios_blanco", class: "icon_menu") %>
              <div class="title_icon_menu"><span>Clientes</span></div>
            <% end %>
          </div>

          <div class="item_menu" title="Facturas">
            <%= link_to facturas_url do %>
              <%= image_tag("iconos/factura_gris", class:"icon_menu") %>
              <div class="title_icon_menu"><span>Facturas</span></div>
            <% end %>
          </div>
          
          <%# <div class="collapse in" id="myContent">
            <ul class="nav">
              <li>
                <a href="#">
                  <svg class="lnr lnr-star"><use xlink:href="#lnr-star"></use></svg>
                  Favourites
                </a>
              </li>
              <li class="active">
                <a href="#">
                  <svg class="lnr lnr-eye"><use xlink:href="#lnr-eye"></use></svg>
                  Following
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="lnr lnr-tag"><use xlink:href="#lnr-tag"></use></svg>
                  Lists
                </a>
              </li>
            </ul>
          </div> %>
        </div>

        <div class="item_menu" title="Produccion">
          <%= link_to productions_url do %>
            <%= image_tag("iconos/canasta_blanco", class:"icon_menu") %>
            <div class="title_icon_menu"><span>Producción</span></div>
          <% end %>
        </div>

        <div class="item_menu" title="Empresa">
          <%= link_to empresas_url do %>
            <%= image_tag("iconos/edificio", class: "icon_menu") %>
            <div class="title_icon_menu"><span>Empresas</span></div>
          <% end %>
        </div>

        <div class="item_menu" title="Factura Empresas">
          <%= link_to emfacturas_url do %>
            <%= image_tag("iconos/recibo_blanco", class: "icon_menu") %>
            <div class="title_icon_menu"><span>Facturas Empresas</span></div>
          <% end %>
        </div>

        <div class="item_menu" title="Ajustes">
          <%= link_to configs_url do %>
            <%= image_tag("iconos/ajuste_blanco", class: "icon_menu") %>
            <div class="title_icon_menu"><span>Ajustes</span></div>
          <% end %>
        </div>

        <div class="item_menu" title="Información">
          <%= link_to "https://paginawebgusdav.000webhostapp.com/documentacion", target: "_blank" do %>
            <%= image_tag("iconos/informacion_blanco", class:"icon_menu") %>
            <div class="title_icon_menu"><span>Información</span></div>
          <% end %>
        </div>
      </div>
    </div>

    <%# AQUÍ APARECE EL MAIN %>

    <%= yield %>

    <%# FOOTER %>
    <footer >
      <p>Inventario web Version 1.2</p>
    </footer>

    <%# JAVASCRIPT %>
    <script>
      const btn = document.querySelector("#menu_btn");
      const menu = document.querySelector("#sidemenu");
      btn.addEventListener('click', e => {
        menu.classList.toggle("menu_expanded");
        menu.classList.toggle("menu_collapsed");

        document.querySelector('body').classList.toggle('body-expanded');
      });

      function confirmDelete(){
        var respuesta= confirm("estas seguro ");
        if(respuesta== true)
        {
            return true;
        }
        else
        {
            return false;
        }
      }
    </script>
  </body>
</html>
