<!DOCTYPE html>
<html>
  <head>
    <title>SISMU</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <section>
        <%= link_to "Menu", id: "open-close" %>
        <a href="#">Logo</a>
      </section>
      <section class="btn__salir">
          <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
      </section>
    </nav>
    
    <aside id="aside">
      <div class="div_menu">
        <div>
          <a href="#">Menú</a>
          <span>Productos</span>
        </div>
      </div>
      <div class="div_menu">
        <div>
          <a href="#">Menú</a>
          <span>Productos</span>
        </div>
      </div>
      <div class="div_menu">
        <div>
          <a href="#">Menú</a>
          <span>Productos</span>
        </div>
      </div>
      <div class="div_menu">
        <div>
          <a href="#">Menú</a>
          <span>Productos</span>
        </div>
      </div>
      <div class="div_menu">
        <div>
          <a href="#">Menú</a>
          <span>Productos</span>
        </div>
      </div>
    </aside>

    <%= yield %>

    <footer>
      <p>version 1.1</p>
    </footer>

    <%# <script src="/application.js"></script> %>
  </body>
</html>
