<!DOCTYPE html>
<html>
  <head>
    <title>SISMU</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>


    <%# NAV %>
    <%=render "shared/navbar" %>
    
    <div class="centrar">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>


    <%# BARRA LATERAL %>

    <%=render "shared/lateralbar" %>

    <%# AQUÃ APARECE EL MAIN %>

    <%= yield %>

    <%# FOOTER %>
   
    <%=render "shared/pie" %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%# JAVASCRIPT %>
    <script>
      const btn = document.querySelector("#menu_btn");
      const menu = document.querySelector("#sidemenu");
      btn.addEventListener('click', e => {
        menu.classList.toggle("menu_expanded");
        menu.classList.toggle("menu_collapsed");

        document.querySelector('body').classList.toggle('body-expanded');
      });

      function confirmDelete(){
        var respuesta= confirm("estas seguro ");
        if(respuesta== true)
        {
            return true;
        }
        else
        {
            return false;
        }
      }
    </script>
  </body>
</html>
