<!DOCTYPE html>
<html>
  <head>
    <title>SISMU</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "reload" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%# NAV %>
    <nav>
      <section>
        <%= link_to image_tag( "logo_lateral_sandra_munoz", class: "logo"), root_path %>
      </section>
      <section>
        <span id="sismu__central">SISMU <i>Artesanías</i></span>
      </section>
      <section class="btn__salir">
          <%= link_to "Salir", destroy_user_session_path, :method => :delete, class: "salir" %>
          <%= image_tag "iconos/sign_out", class: "minilogo_pequeño salir" %>
      </section>
    </nav>

    <%# BARRA LATERAL %>
    <div id="sidemenu" class="menu_collapsed">
      <%# CABECERA_MENU %>
      <div id="header_menu">
        <div id="title_menu"><div>SISMU</div></div>
        <div id="menu_btn">
          <div class="btn_hamburguesa"></div>
          <div class="btn_hamburguesa"></div>
          <div class="btn_hamburguesa"></div>
        </div>
      </div>
      <%# LOGO SISMU %>
      <div id="perfil_menu" title="SISMU">
        <div id="foto_menu">
          <%=link_to image_tag("logo_completo_sandra_munoz"), root_path %>
        </div>
      </div>
      <%# ITEMS_MENU %>
      <div id="menu_items">
        <div class="item_menu" title="Productos">
          <%= link_to productos_url do %>
            <%= image_tag("iconos/canasta", class: "icon_menu" ) %>
            <div class="title_icon_menu"><span>Productos</span></div>
          <% end %>
          
        </div>
        <div class="item_menu" title="Facturas">
          <%= link_to facturas_url do %>
            <%= image_tag("iconos/recibo", class:"icon_menu") %>
            <div class="title_icon_menu"><span>Facturas</span></div>
          <% end %>
        </div>

        <div class="item_menu" title="Clientes">
          <%= link_to clients_url do %>
            <%= image_tag("iconos/usuarios", class: "icon_menu") %>
            <div class="title_icon_menu"><span>Clientes</span></div>
          <% end %>
        </div>

        <%# SEPARADOR MENU %>
        <div class="item_menu separador_menu"></div>
        <%# ---- %>

        <div class="item_menu" title="Ajustes">
          <%= link_to "#" do %>
            <%= image_tag("iconos/ajustes_outline", class: "icon_menu") %>
            <div class="title_icon_menu"><span>Ajustes</span></div>
          <% end %>
        </div>

        <%# SEPARADOR MENU %>
        <div class="item_menu separador_menu"></div>
        <%# ---- %>

        <div class="item_menu" title="Información">
          <%= link_to "#" do %>
            <%= image_tag("iconos/info", class:"icon_menu") %>
            <div class="title_icon_menu"><span>Información</span></div>
          <% end %>
        </div>
      </div>
    </div>

    <%# AQUÍ APARECE EL MAIN %>

    <%= yield %>

    <%# FOOTER %>
    <footer>
      <p>Version 1.1</p>
    </footer>

    <%# JAVASCRIPT %>
    <script>
      const btn = document.querySelector("#menu_btn");
      const menu = document.querySelector("#sidemenu");
      btn.addEventListener('click', e => {
        menu.classList.toggle("menu_expanded");
        menu.classList.toggle("menu_collapsed");

        document.querySelector('body').classList.toggle('body-expanded');
      });
    </script>
  </body>
</html>
