
<div class="containerPro">
  <h1 class="containerPro_text" >Crear colors</h1>
  <div class="formulario">
      <%= simple_form_for @color do |f| %> <br>

        <%= f.label :tipo, 'tipo de color: ', class: 'left', required: true %> <br>
        <%= f.input_field :tipo %> <br>
        <% if @color.errors[:tipo].any? %>
          <span class="text-danger"><%= @color.errors[:tipo].first %></span>
          <br>
        <% end %>
        <br>
        <br>
        <div><%= f.button :submit, 'Crear', class: "formulario_boton" %></div>
        <br>
      <% end %>
  </div>
</div>
