<main class="container sombra">
  <section class="productos">
    <div class="buscador">
      <div class="prueba">
        <%= form_tag productos_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search], placeholder: "Buscar"%>
          <div class="btn_buscar">
            <button class="btn_borrar">
              <%= image_tag "iconos/buscar_blanco", :referencia_pro => nil, class: "logoBuscar" %>
            </button>
          </div>
        <% end %>
      </div>
    </div>

    <h1 class="productos__titulo">Colores</h1>
    <div class="productos__nuevo">
      <%= link_to new_color_url do %>
        <p>Nuevo</p>
      <% end %>
    </div>    
  </section>
    
  <section class= "productosTable">
    <table>
      <thead>
        <tr>
          <th>Tipo de Color</th>
          <th colspan="3">Acción</th>
        </tr>
      </thead>
      <tbody>
        <%= render @colors  %>
      </tbody>
    </table>
  </section>

</main>