<tr>
    <td data-label="NIT" class="centrar green">
        <%= empresa.id %>
    </td>

    <td data-label="Nombre" class="centrar green">
        <%= empresa.nombre%>
    </td>

    <td data-label="Accion" class="botones green">
        <%= link_to empresa_url(empresa) do %>
        <button class="ver">Ver</button>
        <% end %>

        <%= link_to edit_empresa_url(empresa) do %>
        <button class="editar">Editar</button>
        <% end %>

        <%= button_to "Eliminar", empresa_path(empresa), method: :delete, class: "btn_borrar, eliminar", onclick: "return confirmDestroy('¿Deseas eliminar esta empresa?')" %>
    </td>
</tr>

<script>
  function confirmDestroy(message) {
    if(!confirm(message)){
      return false
    }
  }
</script>