<tr>
    <td data-label="NIT" class="centrar green">
        <%= empresa.id %>
    </td>

    <td data-label="Nombre" class="centrar green">
        <%= empresa.nombre%>
    </td>

    <td data-label="Accion" class="botones green">
        <%= link_to empresa_url(empresa) do %>
        <button class="ver">Ver</button>
        <% end %>

        <%= link_to edit_empresa_url(empresa) do %>
        <button class="editar">Editar</button>
        <% end %>

        <%= button_to  empresa_path(empresa), method: :delete, class: "btn_borrar", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do%>
        <button class="eliminar">Eliminar</button>
        <% end %>
    </td>
</tr>