<%= simple_form_for @empresa do |f| %> 
  <main class = "empresasNew sombra">
    <section class="botonVolverNew"><%= link_to "Volver", empresas_url, class: "volverNew" %></section>
    <h1>Registrar Empresa</h1>

    <section class="informacionNew">
      <div>
        <%= f.label :id,"Número de Identificación Tributaria(NIT)", class: 'is-required' %>
        <%= f.input_field :id %>
        <% if @empresa.errors[:id].any? %>
          <p class="text-danger"><%= @empresa.errors[:id].first %></p>
        <% end %>
      </div>

      <div>
        <%= f.label :nombre, "Nombre ", class: 'is-required' %>
        <%= f.input_field :nombre  %>
        <% if @empresa.errors[:nombre].any? %>
          <p class="text-danger"><%= @empresa.errors[:nombre].first %></p>
        <% end %>
      </div>

      <div>
        <%= f.label :tel, "Télefono ", class: 'is-required' %>
        <%= f.input_field :tel  %>
        <% if @empresa.errors[:tel].any? %>
          <p class="text-danger"><%= @empresa.errors[:tel].first %></p>
        <% end %>
      </div>

      <div>
        <%= f.label :direccion, "Dirección ", class: 'is-required' %>
        <%= f.input_field :direccion  %>
        <% if @empresa.errors[:direccion].any? %>
          <p class="text-danger"><%= @empresa.errors[:direccion].first %></p>
        <% end %>
      </div>

      <div>
        <%= f.label :correo, "Correo ", class: 'is-required' %>
        <%= f.email_field :correo%>
        <% if @empresa.errors[:correo].any? %>
          <p class="text-danger"><%= @empresa.errors[:correo].first %></p>
        <% end %>
      </div>

      <div>       
        <%= f.label :ciudad, "Ciudad ", class: 'is-required' %>
        <%= f.input_field :ciudad%> 
        <% if @empresa.errors[:ciudad].any? %>
          <p class="text-danger"><%= @empresa.errors[:ciudad].first %></p>
        <% end %>
      </div>

      <div>       
        <%= f.label :barrio, "Barrio "%>
        <%= f.input_field :barrio %> 
        <% if @empresa.errors[:barrio].any? %>
          <p class="text-danger"><%= @empresa.errors[:barrio].first %></p>
        <% end %>
      </div> 
    </section> 

    <section class="botonesNew">
      <%= f.button :submit, 'Crear' , class:"crearEmpresas" %>
    </section> 
  </main>
<% end %>