<main class="container sombra">
    <section class="productos">
        <%# image_tag("iconos/empresa", class: "icon_logo_title") %>
        <%# <div class="box">
            <%= form_tag empresas_path, :method => 'get' do %
                <p>
                    <%= text_field_tag :search, params[:search] %
                    <%= submit_tag "Buscar", :id => nil  %
                </p>
            <% end %
        </div> %>

        <div class="buscador_empresas">
          <div class="prueba_empresas">
            <%= form_tag empresas_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search], placeholder: "Buscar"%>
              <div class="btn_buscar_empresas">
                <button class="btn_borrar">
                  <%= image_tag "iconos/buscar_blanco", :referencia_pro => nil, class: "logoBuscar_empresas" %>
                </button>
              </div>
            <% end %>
          </div>
        </div>

        <h1 class="empresas__titulo">Empresa</h1>
        <div class="empresas__nuevo">
            <%= link_to "empresas/new" do %>
                <p>Nuevo</p>
            <% end %>
        </div>
    </section>
    <section class="empresasTable">
        <table>
            <thead>
                <tr>
                <th><%= sort_link(@q, :id,"Nit", default_order: :asc, class:"white") %></th>
                <th><%= sort_link(@q, :nombre,"Nombre Empresa ", default_order: :asc, class:"white") %></th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Corrreo</th>
                <th><%= sort_link(@q, :ciudad,"Ciudad", default_order: :asc, class:"white") %></th>
                <th colspan="3">Acción</th>
                </tr>
            </thead>
            <tbody>
                <%= render @empresas%>
            </tbody>
            </table>
    </section>
    <div class="digg_pagination">
        <%= will_paginate(@empresas,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %>
    </div>
</main>