<section class="containerDevise">
  <h2>Recuperar contraseña</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :Correo %><br />
      <%= f.email_field :email, autofocus: true, class:"field__input", autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Restablecer Contraseña", class:"containerDevise__boton" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
