<%= simple_form_for @production do |f| %> <br> 
<main class ="produccionNew sombra">  

    <section class="botonVolverNew"><%= link_to "Volver", productions_url, class: "volverNew" %></section>
    <h1 class="containerProds-text">Registrar Producción</h1>
    <section class="informacionProduccionNew">
        <div>
            <%= f.label :ref, "Ingresa referencia"%><br>
            <%= f.input_field :ref %>    
        </div>
    </section>
     <section class="informacionProduccionNew">
        <div>
            <%= f.label :created_at, "Fecha en que se ingresaron los productos"%><br>
            <%= f.input_field :created_at %>    
        </div>
    </section>

    <section class="botonesNew">
        <%= f.button :submit, 'Crear', class: "crearProduccion" %>
    </section>    

    

</main>
<% end %>