<main class="container sombra">
  <section class="productos">
    <%# <div class="box">
      <%= form_tag productions_path, :method => 'get' do %
      <p>
        <%= text_field_tag :search, params[:search] %
        <%= submit_tag "Buscar", :ref => nil  %
      </p>
      <% end %
    </div> %>

    <div class="buscador_productions">
      <div class="prueba_productions">
        <%= form_tag productions_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search], placeholder: "Buscar"%>
          <div class="btn_buscar_productions">
            <button class="btn_borrar">
              <%= image_tag "iconos/buscar_blanco", :referencia_pro => nil, class: "logoBuscar_productions" %>
            </button>
          </div>
        <% end %>
      </div>
    </div>

    <h1 class="produccion__titulo">Producción del día</h1>
    <div class="produccion__nuevo">
      <%= link_to "productions/new" do %>
        <p>Nuevo</p>
      <% end %>
    </div>
  </section>

  <section class="produccionTable">
    <table>
      <thead>
        <tr>
        <th><%= sort_link(@q, :id,"N° Referencia", default_order: :asc, class:"white") %></th>
        <th><%= sort_link(@q, :created_at,"Fecha de producción", default_order: :asc, class:"white") %></th>
        <th colspan="2">Acción</th>
        </tr>
      </thead>
      <tbody>
        <%= render @productions %>
      </tbody>
    </table>
  </section>

  <div class="digg_pagination">
    <%= will_paginate(@productions,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %>
  </div> 

</main>