
<%= simple_form_for [@production, @dproduction] do |f| %>
    <%= f.association :producto, label_method: :nombre_pro, label: "nombre del producto: " %>
    <%= f.association :artesano, label_method: :nombre_completo, label: "nombre del artesano: " %>
    <%= f.input :cantidad, label: "cantidad:" %>

    <%= f.button :submit %>
    

<% end %>

<table>
    <thead>
        <tr>
            <th> fecha de producción</th>
            <td colspan="4"><%= @production.created_at %></td>
        </tr>
        <tr>
            <th>Ref</th>
            <th>Producto</th>
            <th>Precio uni.</th>
            <th>cantidad</th>
            <th>artesano</th>
        </tr>         
    </thead>    
    <tbody>
    <% @dproductions.each do |dproduction| %>
        <tr>
            <td><%= dproduction.producto.referencia_pro %></td>
            <td><%= dproduction.producto.nombre_pro %></td>
            <td><%= number_to_currency dproduction.producto.precio_pro%></td>
            <td><%= dproduction.cantidad %></td>
            <td><%= dproduction.artesano.nombre_completo %></td>
            <td><%= link_to 'Eliminar', production_dproduction_url(@production, dproduction),
          data: {
            "turbo-method": :delete,
            
          } %></td>
     <%end%>     
        </tr>
    </tbody>
</table>

<%= link_to "volver" , productions_url %>