<div class="container_facturas_empre">
	<div class="volver_facturas">
    <button class="btn_back">
      <%= link_to "volver" , productions_url %>
    </button>
  </div>

	<div class="facturas_izquierdo_prodtns sombra">
		<h2 id="h2">Datos Empresas</h2>
		<%= simple_form_for [@production, @dproduction] do |f| %>
		<%= f.association :producto, label_method: :buscar_producto, label: "Nombre del Producto: " %>
		<%= f.association :artesano, label_method: :nombre_completo, label: "Nombre del Artesano: " %>
		<%= f.input :cantidad, label: "Cantidad:" , error: "requerido"%>
		<%= f.button :submit, "Crear" %>
		<% end %>
	</div>

	<div class="formulario_facturas">
		<div class="formulario_facturas_1 sombra">
			<section class="produccionTable">
				<table>
					<thead>
							<tr>
									<th> Fecha de producción</th>
									<td colspan="5"><%= @production.created_at %></td>
							</tr>
							<tr>
									<th>Ref</th>
									<th>Producto</th>
									<th>Precio uni.</th>
									<th>Cantidad</th>
									<th>Artesano</th>
									<th>Acción</th>
							</tr>         
					</thead>    
					<tbody>
						<% @dproductions.each do |dproduction| %>
								<tr>
										<td><%= dproduction.producto.referencia_pro %></td>
										<td><%= dproduction.producto.nombre_pro %></td>
										<td><%= number_to_currency dproduction.producto.precio_pro%></td>
										<td><%= dproduction.cantidad %></td>
										<td><%= dproduction.artesano.nombre_completo %></td>
										<td>
										<%# button_to image_tag("iconos/borrar", class:"icon_accion"), production_dproduction_path(@production, dproduction), method: :delete  %>
										<%= button_to production_dproduction_path(@production, dproduction), method: :delete, class: "btn_borrar", form: {data: {turbo_confirm: '¿Estás seguro?' }} do %>
											<button class="eliminar">Eliminar</button>
										<% end %>
										</td>
								</tr>
						<%end%>     
					</tbody>
			</table>
			</section>
		</div>
	</div>
</div>