<div>
<h1>Productos</h1>

<%= simple_form_for @producto do |f| %>
  <%= f.input :referencia_pro %>
  <%= f.input :nombre_pro %>
  <%= f.input :precio_pro %>
  <%= f.button :submit %>
  
  
<% end %>
</div>