<tr>
  <td data-label="Referencia", class="centrar blue">
    <%= producto.referencia_pro %>
  </td>
  <td data-label="Nombre del producto" class="centrar blue">
    <%= producto.nombre_pro%>
  </td id="aw">

  <td data-label= "Precio" class="blue">
    <% producto.categories.each do |c| %>
      <%= c.tipo_categoria%>
    <%end%>
  </td> 
  <td data-label= "Precio" class="blue">
    <%= number_to_currency(producto.precio_pro, unit: 'COL$', class: "black") %>
  </td> 
  <td data-label="Accion" class="botones blue">
    <%= link_to edit_producto_url(producto) do %>
      <%# image_tag("iconos/editar", class:"icon_accion") %>
      <button class="editar">Editar</button>
    <% end %>
    <%= button_to producto_path(producto), method: :delete, class: "btn_borrar", form: {data: {turbo_confirm: '¿Estás seguro?' }} do %>
      <%# image_tag("iconos/borrar", class:"icon_accion") %>
      <button class="eliminar">Eliminar</button>
    <% end %>
  </td>
  <%
=begin%>
 <td class="accion">
    <%= button_to producto_path(producto), method: :delete, class: "btn_borrar", form: {data: {turbo_confirm: '¿Estás seguro?' }} do %>
      <%# image_tag("iconos/borrar", class:"icon_accion") %>
      <p>Borrar</p>
    <% end %>
  </td> 
<%
=end%>
</tr>