<tr>
    <td class="centrar">
      <%= producto.referencia_pro%>
    </td>
    <td id="o">
      <%= producto.nombre_pro%>
    </td id="aw">
    <td>
      <%= number_to_currency(producto.precio_pro, unit: 'COL$') %>
    </td> 
    <td class="centrar">
      <%= link_to producto_url(producto) do %>
        <%= image_tag("iconos/ojo", class:"icon_accion") %>
      <% end %>
    </td>
    <td class="centrar">
      <%= link_to edit_producto_url(producto) do %>
        <%= image_tag("iconos/editar", class:"icon_accion") %>
      <% end %>
    </td>
    <td>
        <%= button_to 'Eliminar',  producto_path(producto), method: :delete, form: {data: {turbo_confirm: '¿Estás seguro?' }} %>
    </td>
</tr>