<%= simple_form_for @producto do |f| %>
    <main class= "productosNew sombra">

        <section class="botonVolverNew"><%= link_to "Volver", productos_url, class: "volverNew" %></section>

         <h1>Editar Producto</h1>

          <section class="informacionNew">
            <div>
                <%= f.label :referencia_pro, 'Referencia: ', class: 'left', required: true %> <br>
                <%= f.input_field :referencia_pro, :disabled => true, class: "idBloquear" %> <br>
                <% if @producto.errors[:referencia_pro].any? %>
                    <p class="text-danger"><%= @producto.errors[:referencia_pro].first %></p>
                <% end %>
            </div>

            <div>    
                <%= f.label :nombre_pro,'Nombre del producto: ' %> <br>
                <%= f.input_field :nombre_pro %> <br>
                <% if @producto.errors[:nombre_pro].any? %>
                    <p class="text-danger"><%= @producto.errors[:nombre_pro].first %></p>
                <% end %>
            </div>

            <div>    
                <%= f.label :precio_pro, 'Precio del producto: ' %> <br>
                <%= f.input_field :precio_pro %> <br>
                <% if @producto.errors[:precio_pro].any? %>
                    <p class="text-danger"><%= @producto.errors[:precio_pro].first %></p>
                <% end %>
            </div>
        </section>

        
        <section class="selectorNew sombra">
            <div>
                <%= f.association :categories, label: 'Categorias:  ' , as: :check_boxes, label_method: :tipo_categoria %> 
            </div>
        </section> 

               
        <section class="botonesNew">
            <%= f.button :submit, 'Actualizar', class: "crearProductos" %>
        </section>    
   
    </main>
<% end %>