<main class="container">
  <section class="containerInfo">
    <%# image_tag("iconos/producto", class: "icon_logo_title") %>
    <%# <form class="container-4">
      <input name="q" <%= @q  id="search" placeholder="Buscar..." >
      <button type="submit"> <%= image_tag("iconos/buscar", class: "icon") </button>
    </form> %>
    <div class="box">
      <form class="container-4">
        <span class="icon"><%= image_tag("iconos/buscar", class:"icon") %></span>
        <input name="q" <%= @q %> type="search" id="search" placeholder="Buscar..." />
      </form>
    </div>
    <h1 class="containerInfo__titulo">Productos</h1>
    <%# <a class="containerInfo__boton" href="productos/new">Nuevo</a> %>
    <div class="icon_nuevo">
      <%= link_to "productos/new" do %>
        <span>Nuevo</span>
        <%= image_tag("iconos/mas", class: "icon_mas") %>
      <% end %>
    </div>
  </section>
  <section class="containerTable">
    <table>
      <thead>
        <tr>
          <th>Referencia</th>
          <th>Nombre del producto</th>
          <th>Precio</th>
          <th colspan="3">Acción</th>
        </tr>
      </thead>
      <tbody>
        <%= render @productos%>
      </tbody>
    </table>
  </section>

</main>