<main class="container sombra">
    <section class="productos">
        <div class="buscador">
          <div class="prueba">
            <%= form_tag productos_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search], placeholder: "Buscar"%>
              <div class="btn_buscar">
                <button class="btn_borrar">
                  <%= image_tag "iconos/buscar_blanco", :referencia_pro => nil, class: "logoBuscar" %>
                </button>
              </div>
            <% end %>
          </div>
        </div>

        <h1 class="productos__titulo">Productos</h1>
        <div class="productos__nuevo">
            <%= link_to "productos/new" do %>
            <p>Nuevo</p>
            <% end %>
        </div>    
    </section>
    
    <section class= "productosTable">
      <table>
        <thead>
          <tr>
            <th><%= sort_link(@q, :id,"Referencia", default_order: :desc, class:"white") %></th>
            <th><%= sort_link(@q, :nombre_pro,"Nombre del producto ", default_order: :descc, class:"white") %></th>
            <th><%= sort_link(@q, :id,"Categoria", default_order: :desc, class:"white") %> </th> 
            <th><%= sort_link(@q, :precio_pro,"Precio", default_order: :desc, class:"white") %></th>
            <th colspan="3">Acción</th>
          </tr>
        </thead>
        <tbody>
          <%= render @productos  %>
        </tbody>
      </table>
  </section>

  <div class="digg_pagination">
    <%= will_paginate(@productos,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %>
  </div>

</main>