<main> 
  <div class="panelContador">
    <div class="panelContador__elemento">
      <div class="panelContador__icono">
        <%= link_to "Más Infomación" %>
        <span class="span_angulo_derecho"><%= image_tag "iconos/angulo_derecho", class: "minilogo_grid" %></span>
      </div>
      Productos
    </div>
    <div class="panelContador__elemento">
      <div class="panelContador__icono">
        <%= link_to "Más Infomación" %>
        <span class="span_angulo_derecho"><%= image_tag "iconos/angulo_derecho", class: "minilogo_grid" %></span>
      </div>
      Categoria
    </div>
    <div class="panelContador__elemento">
      <div class="panelContador__icono">
        <%= link_to "Más Infomación" %>
        <span class="span_angulo_derecho"><%= image_tag "iconos/angulo_derecho", class: "minilogo_grid" %></span>
      </div>
      Materia Prima
    </div>
    <div class="panelContador__elemento">
      <div class="panelContador__icono">
        <%= link_to "Más Infomación" %>
        <span class="span_angulo_derecho"><%= image_tag "iconos/angulo_derecho", class: "minilogo_grid" %></span>
      </div>
      Pedidos
    </div>  
  </div>
  


  <div class="panelRegistros">
    <div class="panelRegistros__elemento">
      Productos Más Vendidos
    </div>
    <div class="panelRegistros__elemento">
      Ultimás Ventas
    </div>
    <div class="panelRegistros__elemento">
      <h2>Añadidos Recientemente</h2>
      <div class="izq">
      <table>
          <thead>
              <tr >
                  <th class="odd" colspan="3 " >Nombre de los producto</th>
              </tr>
          </thead>
          <tbody>
              <%= render @productos%>
          </tbody>
      </table>
    </div> 
  </div>
</main>
<br>
<br>
<br>
<br>
<br>


<main>
  <div></div>

  <div></div>

</main>