<main class="main_index"> 
  <div class="panelContador">
    <div class="panerContador_div">
      <div class="panelContador_count sombra" id="pro_fondo">
        <span class="span_angulo_derecho">
          <h2><%= Producto.count %></h2>
        </span>
        <span>
        <h3>PRODUCTOS</h3>
        </span>
      </div>
      <div class="panelContador__elemento sombra">
        <div class="panelContador__contador">
          <span class="span_angulo_derecho">
            <h2><%= Producto.count %></h2>
          </span>
          <span>Nuevos <br> Productos</span>
        </div>
        <%= link_to productos_url do %>
          <div class="panelContador__icono_producto">
            <span class="span_angulo_derecho">
              <%= image_tag "iconos/lista_blanca", class: "minilogo_grid" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panerContador_div">
      <div class="panelContador_count sombra" id="emp_fondo">
        <span class="span_angulo_derecho">
          <h2><%= Empresa.count %></h2>
        </span>
        <span>
        <h3>EMPRESAS</h3>
        </span>
      </div>
      <div class="panelContador__elemento sombra">
        <div class="panelContador__contador">
          <span class="span_angulo_derecho">
            <h2><%= Empresa.count %></h2>
          </span>
          <span>Nuevas <br> Empresas</span>
        </div>
        <%= link_to empresas_url do %>
          <div class="panelContador__icono_empresa">
            <span class="span_angulo_derecho">
              <%= image_tag "iconos/edificio", class: "minilogo_grid" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panerContador_div">
      <div class="panelContador_count sombra" id="cli_fondo">
        <span class="span_angulo_derecho">
          <h2><%= Client.count %></h2>
        </span>
        <span>
        <h3>CLIENTES</h3>
        </span>
      </div>
      <div class="panelContador__elemento sombra">
        <div class="panelContador__contador">
          <span class="span_angulo_derecho">
            <h2><%= Client.count %></h2>
          </span>
          <span>Nuevos <br> Clientes</span>
        </div>
        <%= link_to clients_url do %>
          <div class="panelContador__icono_cliente">
            <span class="span_angulo_derecho">
              <%= image_tag "iconos/usuarios_blanco", class: "minilogo_grid" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>

    <div class="panerContador_div">
      <div class="panelContador_count sombra" id="art_fondo">
        <span class="span_angulo_derecho">
          <h2><%= Artesano.count %></h2>
        </span>
        <span>
        <h3>ARTESANOS</h3>
        </span>
      </div>
      <div class="panelContador__elemento sombra">
        <div class="panelContador__contador">
          <span class="span_angulo_derecho">
            <h2><%= Artesano.count %></h2>
          </span>
          <span>Nuevos <br> Artesanos</span>
        </div>
        <%= link_to artesanos_url do %>
          <div class="panelContador__icono_artesano">
            <span class="span_angulo_derecho">
              <%= image_tag "iconos/manos", class: "minilogo_grid" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%# SEPARADOR %>
  <p>
    
  </p>
  <p>
   
  </p>
  <div class="panelRegistros">
    <div class="panelRegistros__elemento sombra productosTable" id="pro">
      <h4 id="h4_home">Productos Añadidos Recientemente</h4>
      <table>
          <thead>
              <tr >
                  <th>Referencia</th>
                  <th>Nombre producto</th>
                  <th>Precio</th>
              </tr>
          </thead>
          <tbody>
            <% @productos.each do |producto| %>
              <tr>
                <td data-label="Referencia", class="centrar blue">
                  <%= producto.referencia_pro %>
                </td>
                <td data-label="Nombre del producto" class="centrar blue">
                  <%= producto.nombre_pro %>
                </td>
                <td data-label= "Precio" class="blue">
                  <%= number_to_currency producto.precio_pro%>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
    <div class="panelRegistros__elemento sombra clientesTable" id="cli">
      <h4 id="h4_home">Clientes Añadidos Recientemente</h4>
      <table>
        <thead>
          <tr>
            <th>Cedula</th>
            <th>Primer Nombre</th>
            <th>Primer Apellido</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
              <tr>
                <td data-label="Cedula" class="centrar red">
                  <%= client.id %>
                </td> 
                <td data-label="Primer Nombre" class="centrar red">
                  <%= client.nombre_cli %>
                </td> 
                <td data-label="Primer Apellido" class="centrar red">
                  <%= client.apellido_cli %>
                </td> 
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <div class="panelRegistros__elemento sombra artesanosTable" id="art">
      <h4 id="h4_home">Artesanos Añadidos Recientemente</h4>
      <table>
        <thead>
          <tr>
            <th>Cedula</th>
            <th>Primer Nombre</th>
            <th>Primer Apellido</th>
          </tr>
        </thead>
        <tbody>
          <% @artesanos.each do |artesano| %>
              <tr>
                <td data-label="Cedula" class="centrar seaWater">
                  <%= artesano.id %>
                </td> 
                <td data-label="Primer Nombre" class="centrar seaWater">
                  <%= artesano.nombre %>
                </td> 
                <td data-label="Primer Apellido" class="centrar seaWater">
                  <%= artesano.apellido %>
                </td> 
              </tr>
            <% end %>
        </tbody>
      </table>
    </div> 
  </div>
  
</main>