<main> 
  <div class="panelContador">
    <div class="panelContador__elemento">
      <div class="panelContador__icono-canasta">
        <span class="span_angulo_derecho">
          <%= image_tag "iconos/canasta_blanco", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador">
        <span class="span_angulo_derecho">
          <span>1</span>
        </span>
        <span>Productos</span>
      </div>
    </div>

    <div class="panelContador__elemento">
      <div class="panelContador__icono-flor">
      <%= image_tag "iconos/materiaPrima_blanco", class: "minilogo_grid" %>
        <span class="span_angulo_derecho">
         
        </span>
      </div>
      <div class="panelContador__contador">
        <span class="span_angulo_derecho">
          <span>1</span>
        </span>
        <span>Categoria</span>
      </div>
    </div>

    <div class="panelContador__elemento">
      <div class="panelContador__icono-derecha">
        <span class="span_angulo_derecho">
           <%= image_tag "iconos/flor_blanco", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador">
        <span class="span_angulo_derecho">
          <span>1</span>
        </span>
        <span>Materia Prima</span>
      </div>
    </div>
  </div>
  <%# SEPARADOR %>

  <div class="panelRegistros">
    <div class="panelRegistros__elemento">
      Productos Más Vendidos
    </div>
    <div class="panelRegistros__elemento">
      Ultimás Ventas
    </div>
    <div class="panelRegistros__elemento">
      Añadidos Recientemente
      <table>
          <thead>
              <tr >
                  <th>Referencia</th>
                  <th>Nombre del producto</th>
                  <th>Precio</th>
              </tr>
          </thead>
          <tbody>
            <tr>
                  <% @productos.each do |producto| %>
                    <td><%= producto.referencia_pro %></td>
                    <td><%= producto.nombre_pro %></td>
                    <td><%= number_to_currency producto.precio_pro%></td>
              <% end %>
            </tr>
          </tbody>
      </table>
    </div> 
  </div>
</main>