<main class="main_index"> 
  <div class="panelContador">
    <div class="panelContador__elemento">
      <div class="panelContador__icono-producto">
        <span class="span_angulo_derecho">
          <%= image_tag "iconos/lista_blanca", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador"  id="pro">
        <span class="span_angulo_derecho">
          <span><%= Producto.count %></span>
        </span>
        <span>Productos</span>
      </div>
    </div>

    <div class="panelContador__elemento" >
      <div class="panelContador__icono-categoria">
        <span class="span_angulo_derecho">
          <%= image_tag "iconos/materiaPrima_blanco", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador" id="cat">
        <span class="span_angulo_derecho">
          <span><%= Category.count %></span>
        </span>
        <span>Categorias</span>
      </div>
    </div>

    <div class="panelContador__elemento" >
      <div class="panelContador__icono-cliente">
        <span class="span_angulo_derecho">
          <%= image_tag "iconos/usuarios", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador" id="cli">
        <span class="span_angulo_derecho">
          <span><%= Client.count %></span>
        </span>
        <span>Clientes</span>
      </div>
    </div>
    <div class="panelContador__elemento">
      <div class="panelContador__icono-artesano">
        <span class="span_angulo_derecho">
          <%= image_tag "iconos/artesanos_blanco", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador" id="art">
        <span class="span_angulo_derecho">
          <span><%= Artesano.count %></span>
        </span>
        <span>Artesanos</span>
      </div>
    </div>
  </div>

  <%# SEPARADOR %>
  <p>
    
  </p>
  <p>
   
  </p>
  <div class="panelRegistros">
    <div class="panelRegistros__elemento" id="pro">
      <h4>Productos Añadidos Recientemente</h4>
      <table>
          <thead>
              <tr >
                  <th>Referencia</th>
                  <th>Nombre del producto</th>
                  <th>Precio</th>
              </tr>
          </thead>
          <tbody>
            <% @productos.each do |producto| %>
              <tr>
                  <td><%= producto.referencia_pro %></td>
                  <td><%= producto.nombre_pro %></td>
                  <td><%= number_to_currency producto.precio_pro%></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
    <div class="panelRegistros__elemento" id="cli">
      <h4>Clientes Añadidos Recientemente</h4>
      <table>
        <thead>
          <tr>
            <th>Cedula</th>
            <th>Primer Nombre</th>
            <th>Primer Apelldio</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
              <tr>
                <td><%= client.id %> </td> 
                <td><%= client.nombre_cli %></td> 
                <td><%= client.apellido_cli %></td> 
              </tr>
            <% end %>
         
        </tbody>
      </table>
    </div>
    <div class="panelRegistros__elemento" id="art">
      <h4>Artesanos Añadidos Recientemente</h4>
      <table>
        <thead>
          <tr>
            <th>Cedula</th>
            <th>Primer Nombre</th>
            <th>Primer Apelldio</th>
       
          </tr>
        </thead>
        <tbody>
          <% @artesanos.each do |artesano| %>
              <tr>
                <td><%= artesano.id %></td> 
                <td><%= artesano.nombre %></td> 
                <td><%= artesano.apellido %></td> 
              </tr>
            <% end %>
         
        </tbody>
      </table>
    </div> 
  </div>
  
</main>