<main class="main_index"> 
  <div class="panelContador">
    <div class="panelContador__elemento">
      <div class="panelContador__icono-producto">
        <span class="span_angulo_derecho">
          <%= image_tag "iconos/lista_blanca", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador">
        <span class="span_angulo_derecho">
          <span><%= Producto.count %></span>
        </span>
        <span>Productos</span>
      </div>
    </div>

    <div class="panelContador__elemento">
      <div class="panelContador__icono-categoria">
        <span class="span_angulo_derecho">
          <%= image_tag "iconos/materiaPrima_blanco", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador">
        <span class="span_angulo_derecho">
          <span><%= Category.count %></span>
        </span>
        <span>Categorias</span>
      </div>
    </div>

    <div class="panelContador__elemento">
      <div class="panelContador__icono-cliente">
        <span class="span_angulo_derecho">
          <%= image_tag "iconos/usuarios", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador">
        <span class="span_angulo_derecho">
          <span><%= Client.count %></span>
        </span>
        <span>Clientes</span>
      </div>
    </div>
    <div class="panelContador__elemento">
      <div class="panelContador__icono-artesano">
        <span class="span_angulo_derecho">
          <%= image_tag "iconos/artesanos_blanco", class: "minilogo_grid" %>
        </span>
      </div>
      <div class="panelContador__contador">
        <span class="span_angulo_derecho">
          <span><%= Artesano.count %></span>
        </span>
        <span>Artesanos</span>
      </div>
    </div>
  </div>

  <%# SEPARADOR %>

  <div class="panelRegistros">
    <div class="panelRegistros__elemento">
      Productos Más Vendidos
    </div>
    <div class="panelRegistros__elemento">
      Ultimás Ventas  
    </div>
    <div class="panelRegistros__elemento">
      Añadidos Recientemente
      <table>
          <thead>
              <tr >
                  <th>Referencia</th>
                  <th>Nombre del producto</th>
                  <th>Precio</th>
              </tr>
          </thead>
          <tbody>
            <% @productos.each do |producto| %>
              <tr>
                  <td><%= producto.referencia_pro %></td>
                  <td><%= producto.nombre_pro %></td>
                  <td><%= number_to_currency producto.precio_pro%></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div> 
  </div>
  
</main>