<tr>
    <td data-label="N° Factura" class="centrar green">
        <%= emfactura.id %>
    </td>
    <td data-label="Nombre" class="centrar green">
        <%= emfactura.empresa.nombre %>
    </td> 
    <td data-label="Fecha" class="centrar green">
        <%= emfactura.created_at %>
    </td>
    <td data-label="Accion" class="botones green">
        <%= link_to emfactura_url(emfactura) do %>
             <button class="ver">Ver</button>
        <% end %>
        <%= button_to "Eliminar",emfactura_path(emfactura), method: :delete, class: "btn_borrar, eliminar", onclick: "return confirmDestroy('¿Deseas eliminar esta factura?')" %>

    
    </td>
</tr>

<script>
  function confirmDestroy(message) {
    if(!confirm(message)){
      return false
    }
  }
</script>