<div class="mt-6 " >
  <div class="container">
    
    <div class="card border-0  pt-5" style="height: 18rem; ">
        <%= image_tag wicked_pdf_asset_base64('logo_completo_sandra_munoz.png'), class:" po  " %>
        <h2 class="card_title ">DATOS DE LA EMPRESA</h2>
        <div class ="card_body" >
            <b>Ref de la factura: </b>
            <%= @emfactura.emfref %>
            <br>
            <b>Nombre: </b>
            <%= @emfactura.empresa.empresa_busqueda %>
            <br>
            <b>Dirección: </b>
            <%= @emfactura.empresa.empresa_envio%>

        </div>
    </div>
    </div>
</div>
 
    <br>
	<div style="margin-top: 8rem;">
    
		<h2 id="titulo_factura">DATOS DE LOS Productos</h2>
		<table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th> fecha de entrega</th>
                    <td colspan="6"><%= @emfactura.fechafin %></td>
                </tr>
                <tr>
                    <th>Ref</th>
                    <th>Producto</th>
                    <th>Color</th>
                    <th>Precio uni.</th>
                    <th>Cantidad</th>
                    <th>Precio total</th>
                </tr>        
            </thead>    
            <tbody>
            <% @emdetalles.each do |emdetalle| %>

                <tr>
                    <td><%= emdetalle.producto.referencia_pro %></td>
                    <td><%= emdetalle.producto.nombre_pro %></td>
                    <td >
                        <% emdetalle.colors.each do |d| %>
                            <%= d.tipo%>
                        <%end%>
                    </td>
                    <td><%= number_to_currency emdetalle.precio%></td>
                    <td><%= emdetalle.cantidad %></td>
                    <td><%= number_to_currency emdetalle.valor %></td>

                </tr>
                <% end %>
                <tr >
                    <th >Precio subtotal: </th>
                    <td colspan="6"><%=number_to_currency @emfactura.final%></td>   
                </tr>
                <tr>
                    <th >Impuesto por iva: </th>
                    <td colspan="6"><%=number_to_currency @emfactura.iva %></td>   
                </tr>
                    <tr>
                    <th class="bg-warning" >Precio final: </th>
                    <td colspan="6"><%=number_to_currency @emfactura.final_total %></td>   
                </tr>
            </tbody>
		</table>
	</div>

<style>
  .po{
    position: absolute;
     top: 6%%;
    left: 70%%;
  }
</style>