<main class="container">
      <section class="productos">
        <div class="box">
            <%= form_tag empresas_path, :method => 'get' do %>
                <p>
                    <%= text_field_tag :search, params[:search] %>
                    <%= submit_tag "Buscar", :id => nil  %>
                </p>
            <% end %>
        </div>
        <h1 class="empresas__titulo">Facturas de las empresas</h1>
            <div class="empresas__nuevo">
                <%= link_to "emfacturas/new" do %>
                    <p>Nuevo</p>
                <% end %>
            </div>
      </section>

      <section class="empresasTable">
            <table>
                <thead>
                    <tr>
                    <th>N° Factura</th>
                    <th>Nombre</th>
                    <th>Fecha de creación</th>
                    <th colspan="2">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render @emfacturas %>
                </tbody>
            </table>
      </section>
      <div class="digg_pagination">
        <%= will_paginate(@emfacturas,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %>
      </div>
</main>