<main class="container">
  <section class=" containerInfo">
    <%#image_tag("iconos/producto", class: "icon_logo_title") %>
    <div class="box">
      <form class="container-4">
        <span class="icon"><%= image_tag("iconos/buscar", class:"icon") %></span>
        <input name="q" <%= @q %> type="search" id="search" placeholder="Buscar..." />
      </form>
    </div>
    <h1 class=" containerInfo__titulo">Facturas de las empresas</h1>
    <div class="icon_nuevo">
      <%= link_to "emfacturas/new" do %>
        <span>Nuevo</span>
        <%= image_tag("iconos/mas", class: "icon_mas") %>
      <% end %>
    </div>
  </section>

  <section class="containerTable">
    <table>
      <thead>
        <tr>
          <th>N° Factura</th>
          <th>Nombre</th>
          <th>Fecha de creación</th>
          <th colspan="2">Acción</th>
        </tr>
      </thead>
      <tbody>
        <%= render @emfacturas %>
      </tbody>
    </table>
  </section>

</main>